@font-face {
  font-display: auto;
  font-family: 'aprou';
  font-stretch: normal;
  font-style: normal;
  font-weight: 800;
  src: url('./assets/AProUltraBlack.ttf') format('opentype');
}

:root {
  --celeste: #5b95ff;
}

* {
  cursor: url(./assets/cursor.png) 7 2, auto !important;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  align-items: center;
  background-color: var(--celeste);
  background-image: url(./assets/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: url(./assets/cursor.png) 7 2, auto !important;
  display: flex;
  height: 100vh;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
  width: 100vw;
}

canvas {
  height: calc(150 * 100vw / 600 * 0.95) !important;
  max-width: 600px;
  position: absolute;
  top: 45vh;
  width: 95vw !important;
  z-index: 10000;
}

.links {
  display: flex;
  height: 177.7777vw;
  justify-content: center;
  max-width: 900px;
  position: relative;
  width: 100vw;
}
.links a {
  background-color: transparent;
  display: flex;
  font-size: 0;
  position: absolute;
}
.links a img {
  height: 100%;
  opacity: 0;
  width: 100%;
}

.mario-link {
  bottom: 23.2%;
  height: 4.1%;
  width: 83.8%;
}
.lifecinemas {
  bottom: 13.2%;
  height: 5%;
  width: 24.8%;
}
.dimanacho {
  bottom: 0;
  height: 6.5%;
  width: 62%;
}

@media (min-width: 768px) {
  canvas {
    height: 150px !important;
    width: 600px !important;
  }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait),
  (device-width: 820px) and (device-height: 1180px) and (orientation: portrait),
  (device-width: 540px) and (device-height: 720px) and (orientation: portrait),
  (min-width: 900px) {
  .links {
    width: 56.25vh;
    height: 100vh;
  }
}
